*{
  padding: 0;
  margin: 0;
  /*font-family: "Futura-CondensedMedium";*/
  font-family: "Gill Sans";
}

body{
}

.container{
  background-image: url('../Hoflin-homepage-final.png');
  background-repeat: no-repeat;
  background-size: 1080px;
  height: 550px;

  /*border: 1px solid black;*/
  position: relative;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.home-button{
  font-size: 2.5em;
  letter-spacing: 3.5px;
  position: absolute;
  top:230px;
  left:180px;
  color:#224A66;
}

.works-button{
  font-size: 2.5em;
  letter-spacing: 3.5px;
  position: absolute;
  top:285px;
  left:320px;
  color:#224A66;
}

.concerning-button{
    font-size: 1.6em;
    letter-spacing: 3.5px;
    position: absolute;
    top:350px;
    left:425px;
    color:#224A66;
}

.news-button{
    font-size: 2.5em;
    letter-spacing: 3.5px;
    position: absolute;
    top:400px;
    left:630px;
    color:#224A66;
}

.name{
  font-size: 2.6em;
  letter-spacing: 3.5px;
  position: absolute;
  top:380px;
  left:840px;
  color:#C13A2C;
}

img{
   width:1080px;
}

.branch-1{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .3s opacity;

}

a{
  z-index: 1;
  text-decoration: none;
}

a:hover + .branch-1{
  opacity: 1;
  transition: .3s opacity;
}


.container-info-red{
  background-color:#C13A2C;
}

.container-info-blue{
  background-color:#224A66;
}

.container-info-blue-center {
  /*border: 3px solid white;*/
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  width:75%;
}

.quote-top{
  /*border: 3px solid black;*/
  position: absolute;
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: 35px;
}

p{
  /* temp adjustments */
  font-size: 70px;
}

img{
}


dude{
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #224A66;
}

.cover{
  padding-left: 20px;
}
